body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.embedContainer {
    overflow: hidden;
    background: #e2e2e2;
}

.bioSection {
    padding: 10px;
}

.headshotAndBasicInfo {
    display: flex;
    flex-direction: column;
    background: yellow;
}

.headshot {
    flex: 1;
}

.headshot img{
    display:block;
    height: auto;
    width: 100%;
}

.basicInfo {
    flex: 3;
}

.athleteName {
}

.athleteFirstName {
    font-size: 17px;
}

.athleteLastName {
    font-size: 25px;
    font-weight: 700;
}

.quickFacts {
}

.introWords {
    font-weight: 700;
}

/* 800px and higher _________________________________________________________________________________________________________________________________________________________________________*/
@media (min-width:800px){
.headshotAndBasicInfo {
    height: 300px;
    flex-direction: row;
}
.headshot img{
    height: 100%;
    width: auto;
}

}
