.embedContainer {
    overflow: hidden;
    background: orange;
}

.bioSection {

}

.headshotAndBasicInfo {
    display: flex;
}
.headshot {
    flex: 1;
}
.headshot img{
    display:block;
}
.basicInfo {
    flex: 3;
}
