.embedContainer {
    overflow: hidden;
    background: orange;
}

.bioSection {
    padding: 10px;
}

.headshotAndBasicInfo {
    display: flex;
}
.headshot {
    flex: 1;
}
.headshot img{
    display:block;
}
.basicInfo {
    flex: 3;
}
