body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.embedContainer {
    overflow: hidden;
    background: #e2e2e2;
}

.bioSection {
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    outline: 1px solid #cccccc;
    box-sizing: border-box;
}
.bioSectionHeader {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    font-size: 20px;
}

.headshotAndBasicInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    flex: 1;
}

.headshot img{
    display:block;
    height: auto;
    width: 100%;
}

.basicInfo {
    flex: 3;
}

.athleteName {
}

.athleteFirstName {
    font-size: 25px;
    line-height: 15px;
}

.athleteLastName {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.quickFacts {
}
.quickFact {
    padding: 5px;
}

.introWords {
    font-weight: 700;
}
li {
    padding: 5px;
}

/* 800px and higher _________________________________________________________________________________________________________________________________________________________________________*/
@media (min-width:800px){
.headshotAndBasicInfo {
    height: 300px;
    flex-direction: row;
}
.headshot {
    height: 100%;
}
.headshot img{
    height: 100%;
    width: auto;
}

}
